<footer  xmlns:th="http://www.w3.org/1999/xhtml">
	<div class="container-fluid padding">	
		<div class="row ">
			<div class="col-md-3 text-center">	
				<br/>
				<img  th:src="@{/assets/user/img/logo.png}" width="50%" height="50%">
			</div>
			<div class="col-md-5" style="margin-top: 30px;">	
				<!-- <hr class="light"> -->				
				<p><strong style="color:white;">The River - Vincity Quận 9</strong></p>
				<p><i class="fas fa-phone"></i> 038.380.888</p>
				<p><i class="fas fa-envelope"></i> mymail@gmail.com</p>
				<p><i class="fas fa-map-marker-alt"></i> Phước Thiện, Long Bình, Quận 9, Tp. Hồ Chí Minh</p>
				<div >
					<a href="#"><i class="fab fa-facebook"></i></a>
					<a href="#"><i class="fab fa-twitter"></i></a>
					<a href="#"><i class="fab fa-google-plus-g"></i></a>
					<a href="#"><i class="fab fa-instagram"></i></a>
					<a href="#"><i class="fab fa-youtube"></i></a>
				</div>
			</div>	
			<div class="col-md-4" style="margin-top: 15px;">				
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125382.58090921609!2d106.73364493725576!3d10.871957170299526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752153d5079133%3A0x85a5d3ed97f5c0b7!2sThe%20River%20-%20VinCity%20Qu%E1%BA%ADn%209!5e0!3m2!1svi!2s!4v1593344057348!5m2!1svi!2s" 
						width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>
			
		</div>
	</div>
	<script th:src="@{/assets/user/js/owl.carousel.min.js}"></script>
	<script th:src="@{/assets/user/js/jquery.magnific-popup.min.js}"></script>
	<script th:src="@{/assets/user/js/main.js}"></script>
	<script>
	!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
	</script>
	<script type="text/javascript" th:inline="javascript">
		let language = [[${#locale}]];
		switch(language) {
		  case 'vi':			  
			  document.getElementById('image_lang').src= window.location.origin + URL +"assets/user/ensign/VN_24.png";
		    break;
		  case 'jp':
			  document.getElementById('image_lang').src= window.location.origin + URL +"assets/user/ensign/JP_24.png";
		    break;
		  default: //en
			  document.getElementById('image_lang').src= window.location.origin + URL +"assets/user/ensign/EN_24.png";
			 
		}
	</script>
	
</footer>