
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top"
		xmlns:th="https://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	<div class="container-fluid">
		<a class="navbar-branch" href="#">
			<img th:src="@{/assets/user/img/logo-color.png}" height="50">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarResponsive">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link active"  th:href="@{/trang-chu}" >[[#{nav.home}]]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link"  th:href="@{/trang-chu/gioi-thieu}">[[#{nav.about}]]</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/trang-chu/tin-tuc}">[[#{nav.news}]]</a>
				</li>		
				<li class="nav-item">
					<a class="nav-link" th:href="@{/trang-chu/thiet-ke}">[[#{nav.design}]]</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link dropdown"  id="id_Apartment" sec:authentication="name"></a>
					<ul class="cap_2 dropdown-menu" style="background: none ">
						<li><a class="nav-link dropdown-item" th:href="@{/can-ho}">[[#{nav.information}]]</a></li>
						<li><a class="nav-link dropdown-item" data-toggle="modal" data-target="#form-doimatkhau" >[[#{nav.change-password}]]</a></li>
						<li><a class="nav-link dropdown-item" data-toggle="modal"  data-target="#formSearch" >[[#{nav.bill-search}]]</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/trang-chu/noi-quy}">[[#{nav.regulations}]]</a>
				</li>
				<li class="nav-item" sec:authorize="!isAuthenticated()">
					<a class="nav-link" th:href="@{/login}">[[#{nav.login}]]</a>
				</li>
				<li class="nav-item" sec:authorize="isAuthenticated()">
					<a class="nav-link" th:href="@{/logout}">[[#{nav.logout}]]</a>
				</li>
				<li class="nav-item">
				   <span th:text="${#locale}" id="language" hidden="true"></span>
					<a class="nav-link"><img src="" id="image_lang" />&nbsp[[#{nav.language}]]</a>
					<ul class="cap_2">		
						<li><a class="nav-link"  href="?lang=en"><img th:src="@{/assets/user/ensign/EN_24.png}" />&nbsp[[#{nav.english}]]</a></li>
						<li><a class="nav-link" href="?lang=vi"><img th:src="@{/assets/user/ensign/VN_24.png}" />&nbsp[[#{nav.vietnamese}]]</a></li>	
						<li><a class="nav-link" href="?lang=jp"><img th:src="@{/assets/user/ensign/JP_24.png}" />&nbsp[[#{nav.japanese}]]</a></li>			
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>