<div lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout-user}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:fragment="content">

<!-- jumbotron -->
<section class="about-section">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-lg-6">
				<div class="about-text">
					<h2>TỔNG QUAN DỰ ÁN.</h2>
					<p>Vincity là thành phố văn minh, hiện đại được quy hoạch theo mô hình đại đô thị công viên thông minh dành cho cư dân toàn cầu.
						 Với diện tích công viên trung tâm lên đến 10 ha, đây là đại công viên lớn nhất Đông Nam Á. </p>
					<p>Nếu những sắc màu năng động, tươi sáng của cầu vồng đã tạo ra sức hấp dẫn đặc biệt với đông đảo khách hàng thì sắp tới đây,
						 phân khu  sẽ đưa những cư dân tương lai đến với những cung bậc cảm xúc mới lạ khác,
						 trọn vẹn và độc đáo hơn.</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-slider owl-carousel">
					<img th:src="@{/assets/user/img/about/3.jpg}" alt="">
					<img th:src="@{/assets/user/img/about/6.jpg}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- About section end -->

<!-- Milestone section end -->
<section class="milestone-section">
	<div class="milestone-warp">
		<div class="milestone">
			<h4>Quy Mô Dự Án</h4>
			<h2>10 Tòa nhà</h2>
			
		</div>
		<div class="milestone">
			<h4>TỔNG SỐ CĂN HỘ</h4>
			<h2>Hơn 1000 căn</h2>
			
		</div>
		<div class="milestone">
			<h4>Chiều Cao</h4>
			<h2>12-15 tầng</h2>
			
		</div>
		<div class="milestone">
			<h4>DIỆN TÍCH</h4>
			<h2>35-80m2 (1-3 PN)</h2>
			
		</div>
		<div class="milestone">
			<h4>PHÁP LÝ </h4>
			<h2>Sở hữu lâu dài </h2>
			
		</div>
	</div>
</section>
<!-- Milestone section end -->
<section class="about-section">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-lg-6">
				<div class="about-slider owl-carousel">
					<img th:src="@{/assets/user/img/about/7.jpg}" alt="">
					<img th:src="@{/assets/user/img/about/9.jpg}" alt="">
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-text">
					<h2>TIỆN ÍCH NỘI KHU ĐẲNG CẤP.</h2>
					<p>Đại công viên rộng 10 ha hàng đầu Đông Nam Á. </p>
					<p>Công viên ánh sáng lấy cảm hứng từ Singapore.</p>
					<p>Công viên chủ đề trong từng phân khu.</p>
					<p>Hơn 10 sân tập thể thao ngoài trời.</p>
					<p>Hơn 20 máy tập thể thao đa năng.</p>
					<p>Ba hồ bơi lớn ngoài trời theo phong cách resort.</p>
					<p>5 sân chơi & sân vận động liên hoàn dành riêng cho trẻ em.</p>
					<p>Hàng loạt vườn dưỡng sinh.</p>
				</div>
			</div>
			
		</div>
	</div>
</section>
<section class="about-section">
	<div class="container-fluid">
		
		<div class="row">
			<div class="col-lg-6">
				<div class="about-text">
					<h2>ĐỊA THẾ LÍ TƯỞNG .</h2>
					<p>Vị trí của dự án bất động sản luôn là yếu tố được khách hàng quan tâm nhiều nhất khi
						 lựa chọn mua một dự án bất động sản. </p>
					<p>Hoài niệm lại cách đây đúng 10 năm khi Phú Mỹ Hưng đặt những viên gạch đầu tiên để triển khai
						 khu đô thị kiểu mẫu, lúc bấy giờ khá nhiều khách hàng đã có những hoài nghi về dự án này.
						  Nhưng 10 năm qua, Phú Mỹ Hưng đã chứng minh đây là khu đại đô thị hiện đại, là trung tâm tài chính,
						   kinh tế, giải trí, giáo dục tiêu biểu và đẳng cấp của người dân Sài Gòn.
							Nơi mà trước kia chỉ là một vùng trũng với dừa nước và đầm lầy thì cho đến hiện tại,
						 Phú Mỹ Hưng đã khẳng định một vị thế riêng khó lay chuyển tại khu Nam Sài Gòn..</p>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="about-slider owl-carousel">
					<img th:src="@{/assets/user/img/about/5.jpg}" alt="">
					<img th:src="@{/assets/user/img/about/10.jpg}" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

</div>
