<!-- Modal -->
<div class="modal fade" id="form-doimatkhau" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true"  xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Đổi mật khẩu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="col">
                        <label> Mật khẩu cũ</label>
                        <input type="password" id="oldPassword" class="form-control" >

                    </div>
                    <div class="col">
                        <label>Mật khẩu mới </label>
                        <input type="password" id="newPassword" class="form-control">
                    </div>
                    <div class="col">
                        <label>Xác nhận mật khẩu</label>
                        <input type="password" id="confirmPassword" class="form-control">
                    </div>
                    <input type="checkbox" class="ml-2" onclick="TogglePassword()"> Hiển thị mật khẩu

                    <a class="float-right"  th:href="@{/resetpassword/page-forgot-password}">Quên mật khẩu </a>
                    <div id="messageSuccess" class="ml-3 mt-3 alert" style="font-size: 12px"></div>
                    <div id="message" class="ml-3 mt-3 alert" style="font-size: 12px"></div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="test" class="btn btn-primary">Đổi mật khẩu </button>
                <button type="button" id="clean-form-change-password" class="btn btn-primary">Làm mới </button>
            </div>
        </div>
    </div>
    <script th:src="@{/assets/user/js-dev/change-password.js}"></script>
</div>