<div lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout-user}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:fragment="content">

	<!-- jumbotron -->
	<section class="property-details-section spad">
		<div class="container">
			<h2 style="text-align: center;">THIẾT KẾ MẶT BẰNG TẦNG</h2>
		</div>
	</section>
	<div class="col-lg-12 ">
		<img th:src="@{/assets/user/img/property-features/1lau.jpg}" alt="" style="margin-left: 350px; width: 1000px;">
	</div>
	<!-- Property details section end -->

	<!-- Property features slider -->
	<section class="property-details-section spad">
		<div class="container">
			<h2 style="text-align: center;">THIẾT KẾ MẶT BẰNG CĂN HỘ</h2>
		</div>
	</section>
	<section class="spad">
	<div class="property-features-slider owl-carousel">
		<a th:href="@{/assets/user/img/property-gallery/studio.jpg}" class="img-popup-gallery">
			<img th:src="@{/assets/user/img/property-gallery/studio.jpg}" alt="">
			<i class="flaticon-151-reading-glasses"></i>
		</a>
		<a th:href="@{/assets/user/img/property-gallery/2pn+2wc.jpg}" class="img-popup-gallery">
			<img th:src="@{/assets/user/img/property-gallery/2pn+2wc.jpg}" alt="">
			<i class="flaticon-151-reading-glasses"></i>
		</a>
		<a th:href="@{/assets/user/img/property-gallery/3pn.jpg}" class="img-popup-gallery">
			<img th:src="@{/assets/user/img/property-gallery/3pn.jpg}" alt="">
			<i class="flaticon-151-reading-glasses"></i>
		</a>
		
	</div>
	</section>

</div>
