<div lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout-user}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:fragment="content">


	<div class="features-icons-section" >
		<div class="features-icon-item">
			<i class="flaticon-151-banker"></i>
			<p>Thông báo</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-closing"></i>
			<p>Di chuyển thuận lợi</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-maps-and-flags-3"></i>
			<p>Vị trí tuyệt với</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-step-ladder"></i>
			<p>Bể bơi cộng đồng</p>
		</div>
		<div class="features-icon-item">
				<i class="flaticon-151-trees"></i>
			<p>Công viện 30%</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-fader"></i>
			<p>Địa điểm đón nắng</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-indoor"></i>
			<p>Thiết kế hiện đại</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-maps-and-flags-1"></i>
			<p>Chổ đậu xe rộng rãi</p>
		</div>
		<div class="features-icon-item">
			<i class="flaticon-151-transportation"></i>
			<p> Có nhà để xe riêng </p>
		</div>
	</div>

	<section class="intro-section">
		<div class="container">
	
			<div class="section-title">
				<h2>Căn hộ của chúng tôi</h2>
			</div>
			
			<div class="row">
				<div class="col-lg-8">
					<div class="intro-img-box">
						<h4>Căn hộ studio</h4>
						<img th:src="@{/assets/user/img/intro/can_ho_mau_studio_8.jpg}" alt="">
					</div>
				</div>
				<div class="col-lg-4 align-items-end d-flex">
					<div class="intro-text-box">
						<p>Thiết kế với căn hộ studio có 1WC|DT thông thủy 28m2|DT tim đường 30,0 m2 kèm theo hình căn hộ mẫu tham khảo.
							Căn hộ studio xây dựng đô thị hạt nhân kiểu mẫu, cuộc sống xanh, sạch với đầy đủ tiện ích từ tập đoàn.
							Tận dụng tối đa diện tích sự dụng, cộng với thiết kế thông thoáng, hợp lý,
							 khiến căn hộ trở nên phù hợp với phong cách sống hiện đại. 
							</p>
							<p>. Căn hộ 1PN + 1WC (phòng ngủ riêng kèm theo không gian đặt bàn làm việc).</p>
							<p>. Diện tích 45 m2.</p>
							<p>. Phân khu cao tầng.</p>
							  <p>. Giao nhà hoàn thiện cơ bả, nội thất dính tường.</p>
						<a href="" class="site-btn">MORE INFO</a>
					</div>
				</div>
				<div class="col-lg-4 align-items-end d-flex order-2 order-lg-1">
					<div class="intro-text-box">
						<p>Mặt bằng căn hộ 2PN + 2WC điều được thiết kế hướng nội khu dự án, một vài căn góc
							hướng sông đồng nai. Sở hữu không gian sống theo phonng cách Singapore hiện đại, đầy đủ tiện nghi cao cấp,
							cuộc sống năng động cho các gia đình trẻ thành đạt.  </p>
							<p>. Căn hộ 2PN + 2WC (không gian đặt bàn làm việc riêng.)</p>
							<p>. Diện tích 75 m2</p>
							<p>. P.khách + P.ăn + P.bếp</p>
							<p>. P.ngủ Master (gồm WC).</p>
						<a href="" class="site-btn">MORE INFO</a>
					</div>
				</div>
				<div class="col-lg-8 order-1 order-lg-2">
					<div class="intro-img-box">
						<h4>Căn hộ 2PN</h4>
						<img th:src="@{/assets/user/img/intro/can_ho_mau_2pn_cong_1_5.jpg}" alt="">
					</div>
				</div>
				
			</div>
			<div class="row">
			<div class="col-lg-8">
				<div class="intro-img-box">
					<h4>Căn hộ 3PN</h4>
					<img  th:src="@{/assets/user/img/intro/phong-khac.jpg}" alt="">
				</div>
			</div>
			<div class="col-lg-4 align-items-end d-flex">
				<div class="intro-text-box">
					<p>Thiết kế căn hộ 3 PN sạch sẽ phù hợp với mọi gia đình, bao gồm phòng khách đầy đủ tiện nghi
						phòng bếp khá rộng cungf với 3 PN dành cho người lớn và trẻ em. </p>
						<p>. Căn hộ 3PN + 2WC (không gian đặt bàn làm việc riêng.)</p>
						<p>. Diện tích 110 m2</p>
						<p>. P.khách + P.ăn + P.bếp</p>
						<p>. P.ngủ Master (gồm WC).</p>
					<a href="" class="site-btn">MORE INFO</a>
				</div>
			</div>
		</div>
		</div>
	</section>
	<!-- Intro section end-->
	
	<!-- Design section end -->
	<section class="design-section">
		<div class="container">
			<div class="section-title st-light">
				<h2>PHONG CÁCH THIẾT KẾ & TIỆN ÍCH
					</h2>
			</div>
		</div>
		<div class="design-slider owl-carousel">
			<a th:href="@{/assets/user/img/design/5.jpg}" class="img-popup-gallery">
				<img th:src="@{/assets/user/img/design/5.jpg}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a th:href="@{/assets/user/img/design/6.jpg}" class="img-popup-gallery">
				<img th:src="@{/assets/user/img/design/6.jpg}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a th:href="@{/assets/user/img/design/7.jpg}" class="img-popup-gallery">
				<img th:src="@{/assets/user/img/design/7.jpg}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
			<a th:href="@{/assets/user/img/design/8.jpg}" class="img-popup-gallery">
				<img th:src="@{/assets/user/img/design/8.jpg}" alt="">
				<i class="flaticon-151-reading-glasses"></i>
			</a>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="design-text text-white">
						<h4>TINH TẾ & HIỆN ĐẠI </h4>
						<p>Được định vị dành cho tầng lớp khách hàng thượng lưu,
							bên cạnh vị trí được ví như “trái tim” của toàn dự án,
							view công viên và view sông thoáng đãng,
							dự kiến sẽ được thiết kế mang phong cách sang trọng, 
							hiện đại và đẳng cấp hứa hẹn sẽ thu hút lượng lớn khách hàng quan tâm phục vụ cho nhu cầu an cư,
							 kinh doanh hoặc đầu tư. </p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="design-text text-white">
						<h4>Tiện Ích</h4>
						<p>Đại công viên rộng 10 ha hàng đầu Đông Nam Á.
							Công viên ánh sáng lấy cảm hứng từ Singapore.
							Hơn 10 sân tập thể thao ngoài trời.
							Ba hồ bơi lớn ngoài trời theo phong cách resort.
							5 sân chơi & sân vận động liên hoàn dành riêng cho trẻ em.
							Hàng loạt vườn dưỡng sinh. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	
	<!-- Features section -->
	<section class="features-section">
		<div class="container">
			<div class="section-title">
				<h2>KHU CHUNG CƯ THÔNG MINH & HIỆN ĐẠI</h2>
			</div>
		</div>
		<div class="features-slider owl-carousel">
			<div class="feature-box">
				<i class="flaticon-151-banker"></i>
				<h5>THÔNG BÁO THƯỜNG XUYÊN</h5>
				<p> Thông báo các tin mới nhất cho cân dân . </p>
				<p> Thông báo các sự kiện của chung cư.</p>
				<p> Thông báo từ đợn vị quản lý thường xuyên.</p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-security-system"></i>
				<h5>AN NINH THÔNG MINH</h5>
				<p> Tính năng nhận diện gương mặt Face ID cho cư dân. </p>
				<p> Phân tầng thang máy để kiểm soát an ninh chặt chẽ hơn.</p>
				<p> Gửi cảnh báo kèm theo hướng dẫn thoát nạn trong trường hợp xảy ra sự cố.</p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-maps-and-flags-1"></i>
				<h5>BÃI ĐỔ XE THÔNG MINH</h5>
				<p> Sử dụng công nghệ nhận diện biển số thông minh kết hợp với các thiết bị công nghệ hiện đại. </p>
				<p> Tự động nhận diện biển số xe với độ chính xác cao.</p>
				<p> Kiểm soát được nhiều làn xe vào ra, cho phép đảo chiều linh hoạt</p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-step-ladder"></i>
				<h5>HỒ BƠI NGOÀI TRỜI</h5>
				<p>Được thiết kế theo phong cách resort thời thượng, các hồ bơi lớn trong phân khu sẽ cung cấp nguồn năng lượng tươi mát, giải tỏa căng thẳng, hòa quyện cùng thiên nhiên.</p>
			</div>		
			<div class="feature-box">
				<i class="flaticon-151-real-estate-6"></i>
				<h5>CĂN HỘ THÔNG MINH</h5>
				<p> Cung cấp các gói dịch vụ, lấp đặt cho căn hộ thông minh điều khiển bằng ứng dụng hoặc giọng nói. </p>
				<p> Cung cấp vòng tay thông minh cho các gia đình để theo dõi các chỉ số sức khỏe cùng nút bấm gửi cảnh báo cho người thân.</p>
			</div>		
		</div>
	</section>

</div>
