<div lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      data-layout-decorate="~{layout-user}"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:fragment="content">
	<section class="developments-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12">
					<div class="development-box">
						<div id="regulation" class="dev-text">

						</div>
					</div>
				</div>
	
			</div>
		</div>
	</section>
<script th:src="@{/assets/user/regulation/regulation.js}"></script>
</div>
